* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    color: white;
    margin-left: 1%;
}

.navbar {
    background-color: white;
    top: 0%;
    width: 100%;
    /*position: fixed;*/
    padding-right: 15px;
    padding-left: 15px;
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav ul li {
    list-style: none;
    display: inline-block;
}

.topnav ul li a {
    padding-right: 40px; font-size: 15px;
}

.h1underline {
    top: 100%;
    width: 20%;
    height: 10px;
    background: linear-gradient(90deg, red, blue);
    margin-bottom: 5px;
}


/*
.banner {
    display: flex;
    background: linear-gradient(white, blue);
}

.bannertext {
    color: white;
}
.bannertext h1 {
    text-shadow: 2px 2px 4px #000000;
    font-size: 300%;
}*/

    .teammember {
    width: 10%;
    height: 15%;
    margin-top: 5%;
    margin-right: 5%;
    text-align: center;
    color: white;
}

.aboutusbackground {
    display: flex;
    background: linear-gradient(red, blue);
}

.teammember img {
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

footer {
    background: black;
    color: white;
    text-align:center;
}