* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    color: white;
    margin-left: 1%;
}

.h1underline {
    top: 100%;
    width: 20%;
    height: 10px;
    background: linear-gradient(90deg, red, blue);
    margin-bottom: 5px;
}


/*
.banner {
    display: flex;
    background: linear-gradient(white, blue);
}

.bannertext {
    color: white;
}
.bannertext h1 {
    text-shadow: 2px 2px 4px #000000;
    font-size: 300%;
}*/

.teammember {
    width: 10%;
    height: 15%;
    margin-top: 5%;
    margin-right: 5%;
    text-align: center;
    color: white;
}

.aboutusbackground {
    display: flex;
    background: linear-gradient(red, blue);
}

.teammember img {
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

footer {
    text-align:center;
}

.topnav {
    background-color: white;
    top: 0%;
    width: 100%;
    position: fixed;
}
